
<h1>Departement Omgeving - Linked Data.</h1>

<flex-container>
    <flex-item dsk="66" mob="100">
        <ld-card>
            <ld-card-title>
                This is a card title
            </ld-card-title>
            <ld-card-content>
                <h2>Heading Level 2</h2>
                <h3>Heading Level 3</h3>
                <p>Vanaf hier kan U naar:</p>
                <ul>
                    <li><a href="/zendantennes/home">Zendantennes</a></li>
                    <li><a href="/imjv/home">IMJV</a></li>
                    <li><a href="/cbb/home">CBB</a></li>
                </ul>
            </ld-card-content>
        </ld-card>
    </flex-item>
    <flex-item dsk="33" mob="100">
        <ld-card>
            <ld-card-content>
                <ul>
                    <li><a href="#dataset">Datasets</a></li>
                    <li><a href="#standaarden">Standaarden</a></li>
                </ul>
            </ld-card-content>
        </ld-card>
    </flex-item>
</flex-container>
