<div class="export-options">
    <a href="">HTML</a>
    <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625.jsonld">JSON-LD</a>
    <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625.ttl">TURTLE</a>
    <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625.nt">N-TRIPLES</a>
    <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625.rdf">XML</a>
</div>

<h1>Sample Resource View</h1>
