<div class="export-options">
    <a href="">HTML</a>
    <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625.jsonld">JSON-LD</a>
    <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625.ttl">TURTLE</a>
    <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625.nt">N-TRIPLES</a>
    <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625.rdf">XML</a>
</div>

<h1>Sample Resource View</h1>

<h2>Map via Lambert72</h2>
<ld-map :x="147308.80" :y="214146.48"></ld-map>

<h2>Map via WGS84</h2>
<ld-map :lon="4.334494384291889" :lat="51.242633731918474"></ld-map>
