<div class="export-options">
    <a href="">HTML</a>
    <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625.jsonld">JSON-LD</a>
    <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625.ttl">TURTLE</a>
    <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625.nt">N-TRIPLES</a>
    <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625.rdf">XML</a>
</div>

<h1>Sample Resource View</h1>

<flex-container>
    <flex-item dsk="50">
        <h2>Map via Lambert72</h2>
        <ld-map :x="147308.80" :y="214146.48"></ld-map>
    </flex-item>
    <flex-item dsk="50">
        <h2>Map via WGS84</h2>
        <ld-map :lon="4.334494384291889" :lat="51.242633731918474"></ld-map>
    </flex-item>
</flex-container>

<ld-subject about="https://id.milieuinfo.be/cbb/exploitatie/01749024006625#id">
    <ld-predicate about="https://id.milieuinfo.be/def#lambert72_x">
        <a class="label" href="https://id-ontwikkel.milieuinfo.be/def#lambert72_x">XCoordinaat</a>
        <ld-object>147308.80</ld-object>
    </ld-predicate>
    <ld-predicate about="https://id.milieuinfo.be/def#lambert72_y">
        <a class="label" href="https://id-ontwikkel.milieuinfo.be/def#lambert72_y">YCoordinaat</a>
        <ld-object>214146.48</ld-object>
    </ld-predicate>
</ld-subject>

<hr/>

<ld-subject about="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625#id">
    <ld-predicate about="http://purl.org/dc/terms/identifier">
        <a class="label" href="http://purl.org/dc/terms/identifier">identifier</a>
        <ld-object>2011_01749024006625</ld-object>
    </ld-predicate>
    <ld-predicate about="http://purl.org/dc/terms/title">
        <a class="label" href="http://purl.org/dc/terms/title">title</a>
        <ld-object>Integraal Milieu Jaarverslag - Dossier - 2011 - EXXONMOBIL CHEMICAL BELGIUM - 01749024006625</ld-object>
    </ld-predicate>
    <ld-predicate about="http://www.w3.org/1999/02/22-rdf-syntax-ns#type">
        <a class="label" href="http://www.w3.org/1999/02/22-rdf-syntax-ns#type">type</a>
        <ld-object><a href="http://dbpedia.org/ontology/Case">http://dbpedia.org/ontology/Case</a></ld-object>
        <ld-object><a href="http://dbpedia.org/ontology/Case">http://dbpedia.org/ontology/Case (b)</a></ld-object>
    </ld-predicate>
</ld-subject>

<hr/>

<ld-subject about="https://id.milieuinfo.be/cbb/exploitatie/01749024006625#id">
    <ld-predicate about="http://purl.org/dc/terms/alternative">
        <a class="label" href="https://id-ontwikkel.milieuinfo.be/def#lambert72_y">alternative</a>
        <ld-object>IMJV</ld-object>
    </ld-predicate>
    <ld-predicate about="http://purl.org/dc/elements/1.1/creator">
        <a class="label" href="http://purl.org/dc/elements/1.1/creator">creator</a>
        <ld-object>EXXONMOBIL PETROLEUM &amp; CHEMICAL</ld-object>
    </ld-predicate>
    <ld-predicate about="http://purl.org/dc/terms/modified">
        <a class="label" href="http://purl.org/dc/terms/modified">modified</a>
        <ld-object>2018-04-07T23:37:33.851</ld-object>
    </ld-predicate>
    <ld-predicate about="http://purl.org/dc/elements/1.1/publisher">
        <a class="label" href="http://purl.org/dc/elements/1.1/publisher">publisher</a>
        <ld-object>Ministerie van de Vlaamse Gemeenschap</ld-object>
    </ld-predicate>
    <ld-predicate about="http://purl.org/dc/elements/1.1/source">
        <a class="label" href="http://purl.org/dc/elements/1.1/source">source</a>
        <ld-object>Integraal Milieu Jaarverslag</ld-object>
    </ld-predicate>
    <ld-predicate about="http://schema.org/temporalCoverage">
        <a class="label" href="http://schema.org/temporalCoverage">temporalCoverage</a>
        <ld-object>2011</ld-object>
    </ld-predicate>
</ld-subject>

<hr/>

<ld-subject about="https://id.milieuinfo.be/cbb/exploitatie/01749024006625#id">
    <ld-predicate about="http://schema.org/about">
        <a class="label" href="http://schema.org/about">about</a>
        <ld-object>
            <a href="https://id.milieuinfo.be/cbb/exploitatie/01749024006625#id">EXXONMOBIL PETROLEUM &amp; CHEMICAL BVBA - ANTWERP POLYMERS PLANT</a>
        </ld-object>
    </ld-predicate>
    <ld-predicate about="http://purl.org/dc/terms/coverage">
        <a class="label" href="http://purl.org/dc/terms/coverage">coverage</a>
        <ld-object>
            <a href="https://id.milieuinfo.be/imjv/exploitatie/01749024006625/jaar/2011#id">exploitatie
                    - 01749024006625 - exploitatie naam - EXXONMOBIL CHEMICAL BELGIUM - rapporteringsjaar
                    - 2011
            </a>
        </ld-object>
    </ld-predicate>
    <ld-predicate about="http://www.w3.org/ns/prov#hadPrimarySource">
        <a class="label" href="http://www.w3.org/ns/prov#hadPrimarySource">hadPrimarySource</a>
        <ld-object>
            <a href="https://id.milieuinfo.be/imjv/dossier/2011_01749024006625/distributie#id">dossier/2011_01749024006625/distributie</a>
        </ld-object>
    </ld-predicate>
    <ld-predicate about="http://purl.org/dc/terms/publisher">
        <a class="label" href="http://purl.org/dc/terms/publisher">publisher</a>
        <ld-object>
            <a href="http://data.kbodata.be/organisation/0316_380_841#id">http://data.kbodata.be/organisation/0316_380_841#id</a>
        </ld-object>
    </ld-predicate>
    <ld-predicate about="http://purl.org/dc/terms/subject">
        <a class="label" href="http://purl.org/dc/terms/subject">subject</a>
        <ld-object>
            <a href="https://id.milieuinfo.be/imjv/emissiepunt/01749024006625/6802/jaar/2011#id">EXXONMOBIL
                    CHEMICAL BELGIUM : DIFFUSE EMISSIES A- TOT F-LIJN (2011)</a>
        </ld-object>
        <ld-object>
            <a href="https://id.milieuinfo.be/imjv/lozingspunt/01749024006625/2070002/jaar/2011#id">EXXONMOBIL
                CHEMICAL BELGIUM : EFFLUENT WATERZUIVERING (2011)</a>
        </ld-object>
        <ld-object>
            <a href="https://id.milieuinfo.be/imjv/emissiepunt/01749024006625/3728/jaar/2011#id">EXXONMOBIL
                CHEMICAL BELGIUM : FAKKEL (2011)</a>
        </ld-object>
        <ld-object>
            <a href="https://id.milieuinfo.be/imjv/emissiepunt/01749024006625/6809/jaar/2011#id">EXXONMOBIL
                CHEMICAL BELGIUM : KOELTORENS (2011)</a>
        </ld-object>
        <ld-object>
            <a href="https://id.milieuinfo.be/imjv/emissiepunt/01749024006625/6804/jaar/2011#id">EXXONMOBIL
                CHEMICAL BELGIUM : MEETSTATION (2011)</a>
        </ld-object>
        <ld-object>
            <a href="https://id.milieuinfo.be/imjv/emissiepunt/01749024006625/6807/jaar/2011#id">EXXONMOBIL
                CHEMICAL BELGIUM : OPSLAG EN OVERSLAGVERLIEZEN (2011)</a>
        </ld-object>
        <ld-object>
            <a href="https://id.milieuinfo.be/imjv/emissiepunt/01749024006625/6806/jaar/2011#id">EXXONMOBIL
                CHEMICAL BELGIUM : POST REACTOR EMISSIES (2011)</a>
        </ld-object>
        <ld-object>
            <a href="https://id.milieuinfo.be/imjv/emissiepunt/01749024006625/6805/jaar/2011#id">EXXONMOBIL
                CHEMICAL BELGIUM : PRODUCTIE INSTALLATIES (2011)</a>
        </ld-object>
        <ld-object>
            <a href="https://id.milieuinfo.be/imjv/emissiepunt/01749024006625/8478/jaar/2011#id">EXXONMOBIL
                CHEMICAL BELGIUM : SCHOUW ADMIN KETELS (2011)</a>
        </ld-object>
        <ld-object>
            <a href="https://id.milieuinfo.be/imjv/emissiepunt/01749024006625/3730/jaar/2011#id">EXXONMOBIL
                CHEMICAL BELGIUM : SCHOUW KETEL III (2011)</a>
        </ld-object>
        <ld-object>
            <a href="https://id.milieuinfo.be/imjv/emissiepunt/01749024006625/3731/jaar/2011#id">EXXONMOBIL
                CHEMICAL BELGIUM : SCHOUW KETEL IV (2011)</a>
        </ld-object>
        <ld-object>
            <a href="https://id.milieuinfo.be/imjv/emissiepunt/01749024006625/3732/jaar/2011#id">EXXONMOBIL
                CHEMICAL BELGIUM : SCHOUW KETEL V (2011)</a>
        </ld-object>
        <ld-object>
            <a href="https://id.milieuinfo.be/imjv/emissiepunt/01749024006625/8480/jaar/2011#id">EXXONMOBIL
                CHEMICAL BELGIUM : SCHOUW VASTE DIESELS (2011)</a>
        </ld-object>
        <ld-object>
            <a href="https://id.milieuinfo.be/imjv/emissiepunt/01749024006625/8479/jaar/2011#id">EXXONMOBIL
                CHEMICAL BELGIUM : SCHOUW WERVELBEDOVEN (2011)</a>
        </ld-object>
        <ld-object>
            <a href="https://id.milieuinfo.be/imjv/emissiepunt/01749024006625/6808/jaar/2011#id">EXXONMOBIL
                CHEMICAL BELGIUM : SECUNDAIRE EMISSIES (2011)</a>
        </ld-object>
        <ld-object>
            <a href="https://id.milieuinfo.be/imjv/emissiepunt/01749024006625/6803/jaar/2011#id">EXXONMOBIL
                CHEMICAL BELGIUM : VA DESTILLATIE-EENHEID (2011)</a>
        </ld-object>
    </ld-predicate>
    <ld-predicate about="">
        <a class="label">has BNode</a>
        <ld-object bnode>
            <ld-predicate about="http://www.w3.org/1999/02/22-rdf-syntax-ns#first">
                <a class="label" href="http://www.w3.org/1999/02/22-rdf-syntax-ns#first">first</a>
                <ld-object>
                    <a href="https://id.milieuinfo.be/def#GeleideLozing">GeleideLozing</a>
                </ld-object>
            </ld-predicate>
            <ld-predicate about="http://www.w3.org/1999/02/22-rdf-syntax-ns#rest">
                <a class="label" href="http://www.w3.org/1999/02/22-rdf-syntax-ns#rest">rest</a>
                <ld-object>
                    <a href="http://www.w3.org/1999/02/22-rdf-syntax-ns#nil">http://www.w3.org/1999/02/22-rdf-syntax-ns#nil</a>
                </ld-object>
            </ld-predicate>
        </ld-object>
    </ld-predicate>
</ld-subject>

<hr/>
