// fonts
$font-header: "Flanders Art Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$font-header-light: "Flanders Art Sans Light", "Lucida Sans Unicode", "Lucida Grande", sans-serif;

$font-heading: "Flanders Art Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$font-heading-light: "Flanders Art Sans Light", "Lucida Sans Unicode", "Lucida Grande", sans-serif;

$font-footer-logo: "Flanders Art Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;

$font-text: "Lato", "Lucida Sans Unicode", "Lucida Grande",sans-serif;
$font-text-light: "Lato Light", "Lucida Sans Unicode", "Lucida Grande",sans-serif;
$font-text-hairline: "Lato Hairline", "Lucida Sans Unicode", "Lucida Grande",sans-serif;

// colors
$body-bg-color: #f5f5f5;
$text-color: #404040;

$header-color: #494949;
$header-link-color: #494949;

$heading-color: #42796d;
$heading-color-dark: #333332;
$link-color: #4da692;

$label-bg-color: #4da692;
$label-color: #fff;

$border-color-light: rgba(0, 0, 0, 0.1);
$border-color-dark: #cbd2da;
$border-color-green: #42796d;

$card-title-color: #fff;
$card-title-bg-color: #4da692;
// flex

$flex-gutter-width: 8px;
$flex-gutter-height: 16px;
$flex-tablet-max-width: 1023px;
$flex-mobile-max-width: 599px;

$footer-bg-color: #fff;
$footer-color: #333332;
$footer-claim-color: #3b3b3c;
$footer-department-link-color: #3184d6;
$table-heading-color: #333;
$table-cell-color: #5e5e5e;
$table-zebra-bg-color: #f9f9f9;

@mixin layout() {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  @media (max-width: 1040px) {
    width: 96%;
  }
}

@mixin box-shadow() {
  box-shadow: 0 5px 5px -4px rgba(0, 0, 0, 0.15);
}
