@import './fonts';
@import './_variables';
@import './reset';
@import './content';
@import './footer';
@import './print';

body {
  background: $body-bg-color url("../img/background-pattern.png");
  font-family: $font-text-light;
  color: $text-color;
  font-size: 18px;
  min-height: 100%;
  position: relative;
  // enable fade-in
  transition: opacity 1s;

  // hide old header
  #header {
      display: none;
  }
}

