
<h1>Departement Omgeving - Linked Data.</h1>

<ld-card>
    <ld-card-title>
        This is a card title
    </ld-card-title>
    <ld-card-content>
        <p>Vanaf hier kan U naar:</p>
        <ul>
            <li><a href="/zendantennes/home">Zendantennes</a></li>
            <li><a href="/imjv/home">IMJV</a></li>
            <li><a href="/cbb/home">CBB</a></li>
        </ul>
    </ld-card-content>
</ld-card>
